.Tilt{
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,33,1) 50%, rgba(0,31,255,1) 100%);
}


.center {
    margin-right: auto;
    margin-left: auto;
}